.about {
  padding: 20px;

  header {
    text-align: center;
    margin-bottom: 20px;

    .about__heading {
      color: #333;
      font-weight: bold;
    }
  }

  .about__info {
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  footer {
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .about {
      padding: 10px;

      header {
        .about__heading {
          font-size: 24px;
        }
      }

      .about__info {
        p {
          font-size: 14px;
        }
      }

      footer {
        .about__footer {
          font-size: 12px;
        }
      }
    }
  }
}
